@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



body{
    overflow-x: hidden;
    background-color:white;
}

.h{
    
    font-family: 'Ubuntu', sans-serif;
}


.dropdown-menu .dropdown-item:hover{
background-color: rgba(25, 107, 139, 0.534);
}